<%- include("partials/header") -%>

<div class="main">
    <h1>Availibilty</h1>
    </div>

<div id="availData" class="data main" > 
    <h5>Your search:</h5>
    <p><strong>ID number:</strong> <%= id %></p>
    <p><strong>Brand name:</strong> <%= manufacturer %></p>
    <p><strong>Current availibilty:</strong> <%= data %></p>
    </div>

<%- include("partials/footer") -%>