<%- include("partials/header") -%>


<div class="main">
    <h1>BEANIES</h1>
    </div>

<div id="beanieData" class="data" >
    <% for(var i=0; i < beanieData.length; i++) { %>  
        <table>
            <tr>
                <th>Name</th>
                <th>Color</th> 
                <th>Price</th>
                <th>Manufacturer</th>
                <th>Availibilty</th>
              </tr>
            <tr>
                <td><p><%= beanieData[i].name%></p></td>
                <td><p><%= beanieData[i].color%></p></td>
                <td><p>€ <%= beanieData[i].price%></p></td>
                <td><p><%= beanieData[i].manufacturer%></p></td>
                <td><form action="/availability" method="POST">
                <input class="form-check-input" type="checkbox" value=" <%= beanieData[i].id%>" name="itemID">
                <button type="submit" class="btn btn-sm btn-dark" value="<%= beanieData[i].manufacturer%>" name="checkAvailibilty">Check availability</button>
            </form></td>
        </tr>
        </table>
    <hr>
    <% } %>
    </div>


<%- include("partials/footer") -%>
